<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="mailto:jenyyunyang@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jeongyoonyang" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a target="_blank" href="https://github.com/jeongyoonyang" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
        </ul>

    <p>© 2026 Jeongyoon Yang (Jenny). All rights reserved.</p>
  </div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
  <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

        
        
        
        
        
        
        
        
$$       
        <p>© 2026 Jeongyoon Yang. All rights reserved.</p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
